# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
CMakeFiles/
Debug/
include/
x64/
x32/

# Other
CMakeCache.txt
*.opendb
*.tlog
*.idb
*.lastbuildstate
*.1.tlog
*.1.u.tlog
*.exp
*.TMP
*.vcxproj
*.vcxproj.filters
*.cmake
*.sln
*.db
.vs/Delta/v15/.suo
.vs/Delta/v15/Solution.VC.db-shm
.vs/Delta/v15/Solution.VC.db-wal
*.log
