# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
CMakeFiles/
Debug/
x64/
x32/
Documentation/
.vs/
src/reVision.dir/

# Other
CMakeCache.txt
*.opendb
*.tlog
*.idb
*.lastbuildstate
*.1.tlog
*.1.u.tlog
*.exp
*.TMP
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.cmake
*.sln
*.db
*.suo
*.VC.db-shm
*.db-shm
*.log
*.ipch
Doxyfile.out
app/nsight_profiler.cfg
app/reVision.exe - Shortcut.lnk
